.elementor-5 .elementor-element.elementor-element-0b9f85e .elementor-repeater-item-6ad3e62{background-image:url("http://modern.globalvillage:8888/wp-content/uploads/2020/09/Azadi_Tower_29358497718-scaled.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}