/*
Theme Name: Euthenia Child
Theme URI: http://wpdemo2.oceanthemes.net/euthenia
Description: Euthenia Child Theme
Author: OceanThemes
Author URI: http://oceanthemes.net/
Template: euthenia
Version: 1.0
License: GNU General Public License v2+ or later
License http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, left-sidebar, right-sidebar, full-width-template, post-formats, theme-options, threaded-comments, translation-ready
Text Domain: euthenia-child
*/

/* Custom CSS goes after this line */

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #1f2029;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1.35;
  color: #fff;
}

